// Buttons
//––––––––––––––––––––––––––––––––––––––––––––––––––
@use "sass:color";
@use '../variables' as *;

$button-font-size: 12px;

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"]
{
  display: inline-block;
  height: 32px;
  padding: 0 30px;
  text-align: center;
  font-size: $button-font-size;
  font-weight: normal;
  padding: 2px 8px;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: $global-radius;
  color: var(--color);
  border: 1px solid var(--border-color);
  outline: 0;
  cursor: pointer;
  box-sizing: border-box;
  
  .icon {
    display: inline-block;
    width: $button-font-size;
    //height: $button-font-size;
  }

  &:hover {
    color: var(--primary-color-active);
    outline: 2px solid var(--primary-color-active);
  }
  &:focus {
    color: var(--primary-color-active);
    outline: 2px solid var(--primary-color-active);
  }

  &.primary {
    color: var(--primary-color);
    border-color: var(--primary-color);
    &:hover {
      color: var(--primary-color-active);
      outline: 2px solid var(--primary-color-active);
    }
    &:focus {
      color: var(--primary-color-active);
      outline: 2px solid var(--primary-color-active);
    }
  }

  &.danger {
    background-color: #d58d8d;
    border: 1px solid #d58d8d;
    &:hover {
      background-color: #c64d4d;
      outline: 2px solid #c64d4d;
    }
    &:focus {
      background-color: #c64d4d;
      outline: 2px solid #c64d4d;
    }
  }

  &.primary-invert {
    color: var(--background);
    background: var(--primary-color);
    border: 1px solid var(--primary-color-active);
    &:hover {
      background: var(--primary-color-active);
      outline: 2px solid var(--primary-color-active);
    }
    &:focus {
      background: var(--primary-color-active);
      outline: 2px solid var(--primary-color-active);
    }
  }  

}
