// Code
//––––––––––––––––––––––––––––––––––––––––––––––––––
@use "sass:color";
@use '../variables' as *;

pre {
  overflow: auto;
}

//
// Address odd `em`-unit font size rendering in all browsers.
//

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: color.scale($light-grey, $lightness: 6.4%);
  border: 1px solid $light-grey;
  border-radius: $global-radius;
}

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}
