// Tables
//––––––––––––––––––––––––––––––––––––––––––––––––––
@use '../variables' as *;

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

table {
  width: 100%;
}

th,
td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid var(--border-color);
}

tr:last-child {
  th, td {
    border-bottom: 0;
  }    
}

th:first-child,
td:first-child {
//  padding-left: 0;
}

th:last-child,
td:last-child {
//  padding-right: 0;
}
